html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
    font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
    border: 0;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}

[hidefocus], summary {
    outline: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}

sup, sub {
    font-size: 83%;
}

pre, code, kbd, samp {
    font-family: inherit;
}

q:before, q:after {
    content: none;
}

textarea {
    overflow: auto;
    resize: none;
}

label, summary {
    cursor: default;
}

a, button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: bold;
}

del, ins, u, s, a, a:hover {
    text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
    font: 12px/1.14 arial, \5b8b\4f53;
    color: #333;
    outline: 0;
}

body {
    background: #fff;
}

a, a:hover {
    color: #333;
}

/* 设置滚动条的样式 */

::-webkit-scrollbar {
    width: 12px;
}

/* 滚动槽 */

::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: 'iconfont';  /* Project id 2558898 */
    src: url('//at.alicdn.com/t/font_2558898_o9fnytkgfve.woff2?t=1622706533367') format('woff2'),
         url('//at.alicdn.com/t/font_2558898_o9fnytkgfve.woff?t=1622706533367') format('woff'),
         url('//at.alicdn.com/t/font_2558898_o9fnytkgfve.ttf?t=1622706533367') format('truetype');
  }

.iconfont {
    font-family: "iconfont" !important;
    /* font-size: 16px; */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "YaHei";
}
body {
    background-color: #f5f5f5;
}
input{
    height: 34px;
    padding: 0 10px;
}
button{
    height: 36px;

}

.container {
    width: 1024px;
    height: 768px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FAF9FA;
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.logoBox {
    width: 130px;
    height: 70px;
    position: absolute;
    text-align: center;
    border-bottom: 1px solid #d8d6d8;
    z-index: 13;
}

.header {
    left: 0px;
    top: 0px;
    width: 1024px;
    height: 70px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.4);
    z-index: 12;
}

.side {
    width: 130px;
    height: 697px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.4);
    top: 70px;
    z-index: 12;
}

.content {
    width: 894px;
    height: 698px;
    float: right;
    position: absolute;
    background-color: #FAF9FA;
    left: 130px;
    z-index: 1;
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.4);
    top: 70px;
}

.mainLogo {
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainTitle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 155px;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
}

.sidButton {
    width: 130px;
    height: 120px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.sidButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
}

.sidButton:active {
    background-color: rgba(51, 51, 51, 0.2);
}

.sidIcon {
    font-size: 48px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

.sidTitle {
    font-size: 24px;
    padding-top: 75px;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
}

.messageBox {
    width: 845px;
    background-color: #fff;
    min-height: 100px;
    height: auto;
    margin: 20px auto 20px auto;
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    position: relative;
    padding-bottom: 1px;
}

.messageBoxTitleBox {
    position: relative;
    left: 20px;
    width: 95.2%;
    height: 60px;
}

.messageBoxTitle {
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    top: 15px;
}

.messageBoxIcon {
    font-size: 34px;
    position: absolute;
    right: 0px;
    top: 10px;
    color: rgb(66, 66, 66);
    cursor: pointer;
    z-index: 6;
}

.messageBoxIcon:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: 2px 2px 4px -2px rgb(0 0 0 / 40%);
    color: rgb(88, 88, 88);
}

.messageBoxIcon:active {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 2px 2px 4px -2px rgb(0 0 0 / 40%);
    color: rgb(88, 88, 88);
}

.messageBoxContentBox {
    margin: 0px 2.5%;
    min-height: 20px;
    width: 95.2%;
    margin-bottom: 14px;
}
table{
    table-layout: fixed;
}
.lotsInfoLeft, .lotsInfoRight {
    width: 390px;
}

.lotsInfoRight {
    float: right;
}

.lotsInfo, .tableLong, .bidFormTable, .bidProgressTable, .bidInfoTable, .settingUserInfoTable,.bidListInfoTable {
    font-size: 16px;
    /* outline: 1px solid rgb(190, 190, 190); */
    width: 804px;
}

.tableLong td {
    /* outline: 1px solid rgb(190, 190, 190); */
    padding: 8px 0px;
}
.tableLong .tableKey {
    width: 70px;
}
.lotsInfo .tableKey {
    width: 70px;
}
#bidCode {
    font-size: 12px;
}
.lotsInfoLeft td {
    /* outline: 1px solid rgb(190, 190, 190); */
    padding: 8px 0px;
}

.lotsInfoRight td {
    /* outline: 1px solid rgb(190, 190, 190); */
    padding: 8px 0px;
}

.tableValue {
    text-align: right;
}

.bidFormTable {
    font-size: 20px;
    /* outline: 1px solid rgb(190, 190, 190); */
    width: 804px;
}

.bidFormTable td {
    /* outline: 1px solid rgb(190, 190, 190); */
    margin-bottom: 20px;
}

.bidFormTable tr {
    height: 54px;
}

.bidFormTableCenter {
    width: 559px;
    text-align: center;
}

.bidFormTableRight {
    /* width: 559px; */
    text-align: center;
}

.bidFormTableKey {
    width: 101px;
}

.bidFormTableInput {
    height: 34px;
    width: 515px;
    font-size: 18px;
    font-family: "YaHei";
    border: 1px solid rgba(187, 187, 187, 100);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    border: 1px solid rgba(187, 187, 187, 100);
    border-radius: 4px;
    color: rgba(16, 16, 16, 100);
    font-family: "YaHei";
    font-size: 16px;
    background-color: #FAF9FA;
}

button:hover {
    background-color: #e9e9e9;
    /* border: 1px solid #6391d7; */
}

button:active {
    background-color: #dddddd;
}

.bidFormTableButton {
    height: 36px;
    width: 136px;
}

.bidFormTableButtonConfirm {
    height: 36px;
    width: 802px;
}

.bidFormTableValue {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.bidFormTableResetButton {
    position: absolute;
    top: 15px;
    right: 0px;
    z-index: 5;
}

.bidFormTablePrepareButton {
    position: absolute;
    top: 15px;
    right: 150px;
    z-index: 5;
}

.bidInfoBoxScroll {
    overflow-y: auto;
    height: 230px;
}
.bidInfoTable{
    table-layout: fixed;
}
.bidInfoTable * {
    /* outline: 1px solid rgb(190, 190, 190); */
    padding: 8px 0px;
}

.bidInfoTableHead {
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
}
.bidInfoTableData{
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bidInfoTableHead1, .bidInfoTableData1 {
    width: 70px;
    padding-right: 10px;
}

.bidInfoTableHead2, .bidInfoTableData2 {
    width: 215px;
    padding-right: 10px;
}

.bidInfoTableHead3, .bidInfoTableData3 {
    width: 420px;
    padding-right: 10px;
}

.bidInfoTableHead4, .bidInfoTableData4 {
    width: 70px;
}
#bidInfoTableBody .bidInfoTableData4{
    padding-right: 0;
}

.freshButtonWord {
    font-size: 20px;
    display: inline;
}

.loginTitleBox {
    height: 150px;
    width: 764px;
    margin: 0 auto;
    /* background-color: #e9e9e9; */
    border-bottom: 1px solid rgba(187, 187, 187, 100);
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.loginLogoBox {
    position: absolute;
    left: 219px;
    top: 282px;
    width: 195px;
    height: 195px;
    /* background-color: #d8d6d8; */
}

.loginBox {
    width: 344px;
    height: 480px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 0.5);
    float: right;
    margin-right: 130px;
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.4);
    /* background-color: #f5f5f5; */
}

.loginTitleBox h1 {
    font-weight: normal;
    font-size: 32px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.loginLogoBox img {
    height: 100%;
}

.loginBoxTitleBox {
    display: inline-block;
    width: 140px;
    height: 43px;
    margin: 0 5px;
    border-radius: 0px 0px 8px 8px;
    position: relative;
    color: #FAF9FA;
}

.loginBoxTitleBoxBidder {
    border-top: 8px solid #5587D3;
    background-color: #5587D3;
}

.loginBoxTitleBoxTender {
    border-top: 8px solid #bd2130;
    background-color: #bd2130;
}

.loginBoxTitleBoxWait {
    border-top: 8px solid #d5d5d5;
    background-color: rgba(255, 255, 255, 0);
    color: #b1b1b1;
    cursor: pointer;
    transition: background-color 0.5s;
}

.loginBoxTitleBoxWait:hover {
    border-top: 8px solid #d5d5d5;
    background-color: rgba(0, 0, 0, 0.05);
    color: #b1b1b1;
}

.loginBoxIcon {
    font-size: 36px;
    position: relative;
    bottom: 3px;
}

.loginBoxTitle {
    display: inline;
    font-size: 24px;
    position: relative;
    bottom: 7px;
    left: 2px;
}

.loginAccountBox {
    margin-top: 40px;
    position: relative;
}

.loginAccountTitle {
    font-size: 22px;
    font-weight: normal;
}

.loginAccountContainer {
    /* padding-top: 20px; */
    margin-bottom: 10px;
    position: relative;
}

.loginAccountContainerScroll {
    overflow-y: auto;
    height: 210px;
}

.loginAccount {
    height: 46px;
    width: 275px;
    border-radius: 63px;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 16px;
    color: #FAF9FA;
    margin: 20px auto 15px auto;
    position: relative;
    cursor: pointer;
}

.loginAccount p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}

.loginAccountBidder {
    background-color: #5587D3;
    transition: background-color 0.5s;
}

.loginAccountBidder:hover {
    background-color: #3462a7
}

.loginAccountTender {
    background-color: #bd2130;
    transition: background-color 0.5s;
}

.loginAccountTender:hover {
    background-color: #921723
}

.loginAccountOperate {
    display: block;
    margin: 0 auto 13px auto;
    width: 315px;
    font-size: 16px;
    height: 35px;
    box-shadow: 2px 2px 4px -2px rgb(0 0 0 / 40%);
}

.loginAccountOperate:hover {
    /* outline: 1px solid #5587D3; */
    box-shadow: 0 0 0 1px #5587D3;
}

#importAccount {
    background-color: #D5D5D5;
    color: #101010;
}

#createAccount {
    background-color: #3AAC59;
    color: #fff;
}

#deleteAccount {
    background-color: #E1283A;
    color: #fff;
}
.indexWait .cover{
    background: #faf9fa;
    z-index: 20;
}
.waitAnimation {
    font-size: 64px;
    height: 73px;
    position: absolute;
    top: 60px;
    left: 140px;
    animation: load 2s infinite linear;
    z-index: 20;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pageShow {
    background-color: rgb(0 0 0 / 20%);
}

.settingUserInfoTable td{
    padding: 8px 0 8px 10px;
    word-wrap: break-word;
}
.settingUserInfoTable .tableKey {
    vertical-align: top;
    width: 80px;
}
.longButton{
    width: 100%;
    height: 36px;
    margin: 10px auto;
    display: block;
    
}
.maskBox{
    width: 344px;
    height: 240px;
    position: absolute;
    background-color: #faf9fa;
    top: 0px;
}
#registerBox p{
    font-size: 32px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
#registerBox input{
    height: 39px;
    width: 280px;
    font-size: 22px;
    font-family: 'YaHei';
    font-weight: normal;
    color: #979797;
    /* margin: 0 auto 20px auto; */
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%,0);
    display: block;
    border-radius: 5px;
    border: 1px solid rgba(187, 187, 187, 100);
    padding: 0 10px;
    z-index: 6;
}
#registerBox input:focus{
    color: #000;
}
.registerPost,.registerReturn{
    height: 39px;
    width: 300px;
    margin: 0 auto 20px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid rgba(187, 187, 187, 100);
    position: absolute;
    transform: translate(-50%,0);
    z-index: 6;
}
.registerPost{
    top: 120px;
    left: 50%;
}
.registerReturn{
    top: 170px;
    left: 50%;
}
.floatBox{
    width: 894px;
    height: 698px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
    z-index: 7;
}
.fixBoxBlur{
    filter: blur(2px);
}
.messageBoxModify{
    position: relative;
}
.bidModifySearchBox{
    margin-top: 10px;
    margin-bottom: 20px;
}
.bidModifySearchBox p{
    font-size: 20px;
    display: inline;
    margin-right: 20px;
}
.bidModifySearchInput{
    height: 34px;
    width: 668px;
    font-size: 18px;
    font-family: "YaHei";
    border: 1px solid rgba(187, 187, 187, 100);
    border-radius: 5px;
    margin-left: 10px;
}
.bidModifySearchButton{
    height: 36px;
    width: 136px;
    float:right;
}
.divide{
    height: 20px;
}
.messageBoxAudit{
    height: 570px;
}
/* .bidAuditSearchBox{
    height: 390px;
} */
/* .bidAuditResult{
    background-color: #cfcfcf;
    height: 100px;
    border-radius: 5px;

} */
.bidListTableHead {
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
}
.bidListTableData{
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bidListTableHead0, .bidListTableData0 {
    width: 35px;
    padding-right: 10px;
}
.bidListTableHead1, .bidListTableData1 {
    width: 50px;
    padding-right: 10px;
}

.bidListTableHead2, .bidListTableData2 {
    width: 200px;
    padding-right: 10px;
}

.bidListTableHead3, .bidListTableData3 {
    width: 320px;
    padding-right: 10px;
}

.bidListTableHead4, .bidInfoTableData4 {
    width: 70px;
    padding-right: 20px;
}
.bidListTableHead5, .bidInfoTableData5 {
    width: 70px;
}

/* .bidListTableData0{
    text-align: center;
} */
.bidListCheckbox{
    height: 15px;
    display: block;
    margin: 0 auto;
}
.auditButton{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0);
    width: 95%;
}
.aboutLogoBox{
    position: absolute;
    top:25px;
    left: 80px;
}
.aboutContentBox{
    position: absolute;
    top:25px;
    right: 50px;
}
.aboutContentBox h1{
    font-size: 28px;
    margin-bottom: 10px;
}
.aboutContentBox h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.miscInfo{
    font-size: 14px;
    margin-top: 20px;
}
.miscInfo p{
    margin-top: 10px;
}
.aboutMessageBox{
    height: 380px;
}
.aboutButton{
    position: relative;
    top: 300px;
    width: 95%;
    height: 28px;
}
.waitMaskBox{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}
.waitMaskBox .cover{    
    background-color: rgb(0 0 0 / 20%);
}
.waitMaskBox .waitAnimation{
    width: 240px;
    height: 240px;
    text-align: center;
    font-size: 200px;
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: #969696;
}
.newBox,.bidsCard{
    min-height: 50px;
    cursor: pointer;
}
.newBox:hover{
    background-color: #dadada;
}
.newBox:active{
    background-color: #bbbbbb;
}
.bidsCard:hover{
    background-color: #dadada;
}
.bidsCard:active{
    background-color: #bbbbbb;
}
.newBox h2{
    position: inherit;
    text-align: center;
}
.line{
    width: 845px;
    height: 1px;
    border-top: 1px solid rgb(194, 194, 194);
    margin: 10px auto 0 auto;
}
.bidsListBox{
    margin: 0 auto;
    width: 890px;
    position: absolute;
}
.bidsListBoxScroll{
    overflow-y: auto;
    height: 530px;
    display: inline-block;
    width: 845px;
}
.bidListInfoTable{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 845px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px -2px rgb(0 0 0 / 40%);
}

.bidsCard{
    width: 835px;
    /* position: relative; */
    font-size: 20px;
    border-bottom: 1px dashed rgb(194, 194, 194);
}
.bidStatus,.bidName{
    height: 50px;
    margin: 10px;
}
.bidStatus{
    width: 100px;
    left: 0px;
    /* vertical-align: top; */
    padding:10px 0px ;
    text-align: center;
}
.bidName{
    width: 705px;
    right: 0px;
    text-align: right;
    /* padding-left: 30px; */
    padding:10px 10px 10px 30px ;
}
.bidListInfoTable th{
    height: 20px;
    text-align: right;
    font-size: 20px;
    border-bottom: 1px solid rgb(194, 194, 194);
}
.bidListInfoTable thead .bidStatus{
    text-align: center;
}
.bidContentInput{
    width: 90%;
    height: 30px;
    font-family: 'YaHei';
}
.newBidTable td{
    height: 50px;
    padding: 0;
    font-size: 18px;
}
.newBidTable .tableKey{
    width: 80px;
}
.newBidTable input{
    text-align: right;
    font-size: 18px;
}
#newBidMessageBox{
    position: absolute;
    z-index: 8;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0);
}

#countsInput{
    text-align: center;
}
#bidNameInput{
    text-align: right;
}
.newBidMessageBoxMask{
    background-color: rgba(0, 0, 0, 0.2);
    height: 698px;
    width: 894px;
    position: absolute;
    top: 0;
    left: 0;
}
.bidsListHead{
    cursor: pointer;
}
.bidDetailInfoBox,.bidDetailRegBox{
    z-index: 9;
}
.messageBoxBidDetail{
    height: 300px;
}
#bidDetailBox .bidInfoTableHead1,.bidInfoTableData1{
    width: 50px;
    text-align: center;
}
#bidDetailBox .bidInfoTableHead4,.bidInfoTableData4{
    width: 80px;
    text-align: center;
}
#BidDetailBox{
    position: absolute;
    z-index: 8;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0);
}
#uploadFileBox p{
    font-size: 32px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
#skName{
    height: 35px;
    width: 150px;
    font-size: 22px;
    font-family: 'YaHei';
    font-weight: normal;
    color: #979797;
    position: absolute;
    top: 60px;
    left: 6.5%;
    display: block;
    padding: 0 10px;
    z-index: 6;
}
#skFileInput{
    height: 40px;
    width: 106px;
    font-size: 25px;
    font-family: 'YaHei';
    font-weight: normal;
    color: #979797;
    position: absolute;
    top: 60px;
    right: 6.5%;
    display: block;
    z-index: 6;
}
#skName:focus{
    color: #000;
}
#deleteBox p{
    font-size: 32px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 32px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
a{
    cursor: pointer;
}
body{
    background-color: #f2f2f2;
}
.layui-nav-item a{
    font-size: 18px;
}
.layui-header{
    min-width: 400px;
}
.layui-body{
    min-width: 994px;
}
.mainContent{
    margin: 20px 50px;
    padding-bottom: 64px;
}
.layui-card-header h2{
    float: left;
}
.layui-card-header span{
    float: right;
    cursor: pointer;
    border: none;
}
span.iconfont.layui-btn.layui-btn-primary {
    padding: 0;
    margin: 2px;
}
.layui-card-header span:hover{
    transform: rotate(180deg);
}
.layui-card-body .layui-table{
    margin: 0;
}
.layui-table .table-out{
    padding: 0;
}
.layui-table td{
    border: none;
    /* outline: 1px solid rgb(216, 216, 216); */
}
.tableValue{
    text-align: right;
}
.layui-btn{
    margin: 10px auto;
}
.layui-table .tableElem{
    padding: 0;
    text-align: right;
}
.layui-table .layui-btn{
    margin: 0;
}
#bidderAmountInput{
    text-align: left;
}
#bidderAmountInput p{
    padding-left: 11px;
}
.cardTitleButton{
    float: right;
    margin: 6px 0px 6px 20px;
}
.fixCover{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 9;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
}
.boxBlur{
    filter: blur(2px);
}
.floatBidBox {
    position: absolute;
    left: 50px;
    right: 50px;
    z-index: 10;
    width: auto;
}
.layui-table .tableAlignRight{
    text-align: right;
}
#settingBoxID td{
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}
p#mianName {
    padding-left: 11px;
}